.gobbet {
  border-bottom: solid 1px var(--Gobbet-title-background, #6e7b82);
  padding-bottom: 10px;
}

.gobbet figure {
  margin: 0;
}
.gobbet figcaption {
  color: var(--Gobbet-color, #059486);
  line-height: 22px;
  font-family: Neutra2Display;
  font-weight: bold;
}
.gobbet img {
  margin: 10px auto;
  display: block;
  width: 100%;
}
.gobbet h1 {
  background: var(--Gobbet-title-background, #6e7b82);
  color: white;
  height: 1.7em;
  line-height: 1.8em;
  font-size: 1.5em;
}
.gobbet h1 span {
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  font-family: Neutra2Display;
  font-weight: normal;
}
.gobbet .mnv-ec-share {
  margin: auto;
  text-align: center;
}

.mnv-ec-share-icons {
  display: flex;
  justify-content: space-between;
}
.mnv-ec-share a {
  margin: 0 !important;
}

@media screen and (max-width: 400px){
  .gobbet {
    margin: 20px 0 20px 0;
    {
      figcaption {
        padding: 10px;
      }
      .mnv-ec-share {
        padding: 0 10px;
      }
      figure img {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }
}
