@import './palette';
@import '@economist/component-sharebar';

.Gobbet--header {
  overflow: hidden;
}
.Gobbet--header-title {
  float: left;
}
.Gobbet--header-aside {
  float: right;
}
.Gobbet--conatiner-body img {
  width: 100%;
  height: auto;
}