@import '@economist/component-typography';
@import './';

/* stylelint-disable selector-no-type */
/* it's only the example! */

body {
  font-smoothing: antialiased;
}

/* stylelint-enable selector-no-type */

.gobbet {
  margin: 0 auto;
}

/* stylelint-disable value-keyword-case */
/* fonts are from another component */

.gobbet__title {
  display: inline-block;
  color: #fff;
  font-family: EconSans;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* stylelint-enable value-keyword-case */

.gobbet__title--left {
  margin: 0 5px;
}

.gobbet__title--right {
  display: inline-block;
  padding: 0 5px;
  background-color: #e3120b;
}
